#screen{
  margin: 0 auto;
  width: 960px;
  height: 960px;
}
.reset{
  float: left;
  height: 30px;
  width: 120px;
  font-size: 15px;
}
.pixel{
  display: inline-block;
  float: left;
  background-color: #eff0f1;
}
